##  Data Driven Insight for Indian Startup Growth

        Business Understanding
The target is to identify the factors that contributing to the StartUp Growth in India

        Hypotheses for Data-Driven Insight for Indian Startup Growth 
  Null Hypothesis (H0):
There is no significant difference in the growth rates among startups located in different sectors and regions within the Indian startup ecosystem.

  Alternative Hypothesis (H1):
There is a significant difference in the growth rates among startups located in different sectors and regions within the Indian startup.

Explanation:
This hypothesis aims to explore whether the growth rates of startups in India are influenced not only by their sector but also by their geographical location. By analyzing data on startup growth, sectors, and regional dynamics, we seek to identify patterns that can provide strategic insights for  investors.

        Data Understanding
1. Data was collect for yea 2018-2021 fro different startups in India that receive thye founds for growth and sucess of the company.
2. With the analysis on th data we will be able to get a great insight of start up growth, success and investiment factors.

In [21]:
# importing the necessary libraries

import pyodbc # Database Connectivity with  Open Database Connectivity (pyodbc)

from dotenv import dotenv_values # dotenv library to load environment variables
# pandas for data manipulation and analysis
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

    Load environment variables

In [22]:
# Load environment variables from .env file 

environment_variables=dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [47]:
connection_string

'DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;;DATABASE=dapDB;;UID=LP1_learner;;PWD=Hyp0th3s!$T3$t!ng;'

    connect to the server

In [23]:
# This will connect to the server with help of pyodbc.

connection = pyodbc.connect(connection_string)

      Data Loading

In [24]:
# Load the dataset SQL query
query1 = "Select * from dbo.LP1_startup_funding2020"
query2 = "Select * from dbo.LP1_startup_funding2021"

In [25]:
# Read data from the  on dataset
data_2018 = pd.read_csv('dataset\startup_funding2018.csv')
data_2019 = pd.read_csv('dataset\startup_funding2019.csv')
data_2020 = pd.read_sql(query1, connection)
data_2021 = pd.read_sql(query2, connection)

#   Data Overview for all datasets

In [26]:
#  Exploring the First Few Rows  of the Data of 2018
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [27]:
# getting informationabout the 2018 data set
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [28]:
#  Exploring the First Few Rows  of the Data of 2019
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [29]:
# getting informationabout the 2019 data set
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [30]:
#  Exploring the First Few Rows  of the Data of 2020
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [31]:
# getting information about the 2020 data set
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [32]:
#  Exploring the First Few Rows  of the Data of 2021
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [33]:
# getting information about the 2020 data set
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

#   Data Cleaning for all datasets

check for missing data

In [48]:
#check for missing data for 2018
missing_values_2018 = data_2018.isnull().any
missing_values_2018()

Company Name    False
Industry        False
Amount (₹)      False
Location        False
dtype: bool

In [49]:
#check for missing data for 2019
missing_values_2019 = data_2019.isnull().any
missing_values_2019()

Company/Brand    False
HeadQuarter      False
Sector            True
Amount ($)       False
dtype: bool

In [37]:
#check for missing data for 2020
missing_values_2020 = data_2020.isnull().sum
missing_values_2020()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [38]:
#check for missing data for 2021
missing_values_2021 = data_2021.isnull().sum
missing_values_2021()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount             3
Stage            428
dtype: int64

In [42]:

# Select the specified columns for analysis
selected_columns_2018 = data_2018[["Company Name","Industry","Amount","Location",]]
data_2018 = selected_columns_2018

selected_columns_2019 =  data_2019[["Company/Brand", "HeadQuarter","Sector", "Amount($)"]]
data_2019 = selected_columns_2019

selected_columns_2020 = data_2020[["Company_Brand",  "Sector", "Amount", "HeadQuarter","Investor" ]]
data_2020 = selected_columns_2020

selected_columns_2021 = data_2021[["Company_Brand",  "Sector","Amount","HeadQuarter","Investor"]]
data_2021 = selected_columns_2021

In [45]:

#Replace the $ sign in the Amount column: in 2018,20 and 2021

data_2018['Amount'] = data_2018['Amount'].str.replace('₹', '')
data_2019['Amount($)'] = data_2019['Amount($)'].str.replace('$', '')
# data_2020['Amount'] = data_2020['Amount'].str.replace('$', '')
data_2021['Amount'] = data_2021['Amount'].str.replace('$', '')

#Team Remember to rename column with specific currency signs
data_2018=data_2018.rename(columns={'Amount': 'Amount (₹)'})
data_2019=data_2019.rename(columns={'Amount($)':'Amount ($)'})
data_2020=data_2020.rename(columns={'Amount': 'Amount ($)'})
data_2021=data_2021.rename(columns={'Amount': 'Amount ($)'})

In [46]:
data_2018.head()

,Company Name,Industry,Amount (₹),Location
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",250000,"Bangalore, Karnataka, India"
1,Happy Cow Dairy,"Agriculture, Farming","40,000,000","Mumbai, Maharashtra, India"
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace","65,000,000","Gurgaon, Haryana, India"
3,PayMe India,"Financial Services, FinTech",2000000,"Noida, Uttar Pradesh, India"
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",—,"Hyderabad, Andhra Pradesh, India"

 handle ning the missing Values